.pessoa {
    display: flex; /*tava tudo ao lado um do outro, queremos embaixo do outro*/
    flex-direction: column;
}

@media screen and (min-width: 0) {
    .pessoa {
        margin-bottom: 2em;
    }
}

@media screen and (min-width: 768px) {
    .pessoa {
        margin-bottom: 0;
    }
}